<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.yonyou.uap.studio.connection.ierp.Startup">
      </startup>
   </extension>
   <extension
         point="nc.uap.studio.common.propChangeListeners">
      <listener
            class="com.yonyou.uap.studio.connection.ierp.PropXmlChangeListener">
      </listener>
   </extension>

</plugin>
